* {
    margin: 0;
    padding: 0;
}

.navigation {
    margin-top: 25px;
    font-family: var(--font1);
    /* background-color: aqua; */
    /* height: 74px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 25px;
    display: flex;
}

.nav-left span {
    font-size: 35px;
    padding-top: 10px;

}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 24px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);

}

.nav-left ul li a:hover {
    color: brown;
    font-weight: bolder;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.content {
    /* background-color: blue; */
    height: 100%;
    display: flex;
    margin-top: 32px;
    padding: 9px;
    position: relative;

}

.content::after {
    content: "";
    background-image: url('../img/free-daily-news-vector.jpg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.20;
    z-index: -1;
}

.content-left {
    padding: 50px;
    font-family: var(--font1);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}

.content-right img {
    height: 355px;
}

.home-articles {
    /* background-color: blueviolet; */
    padding-top: 12px;
    position: relative;
}

.year-box {
    position: absolute;

    /* background-color: red; */
    right: 80px;
    top: 100px;
    width: 234px;
    height: 255px;
    font-size: 18px;
}

.year-box div{
    margin:  12px 0px;
}
.home-article {
    display: flex;
    margin: 25px;

}

.home-article img {
    width: 300px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}

.home-article-content a {
    text-decoration: none;
    color: var(--main-bg-colour);
}













.footer {
    background-color: var(--main-bg-colour);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}