@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');

:root {
    --main-bg-colour: brown;
    --font1: 'Baloo Bhaina 2', cursive;
    --font2: 'Roboto', sans-serif;
}
.center{
    text-align: center;   
}
.font1{
    font-family: var(--font1);
}
.font2{
    font-family: var(--font2);
}
.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}
.my-2{
    margin-top: 12px;
    margin-bottom: 12px;
}
.mx-1{
    margin-left: 23px;
    margin-right: 23px;
}
.btn {
    padding-top: 3px;
    padding: 0px 20px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 16px;
    font-family: var(--font1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;


}
.btn:hover{
    color: white;
    background:var(--main-bg-colour) ;
}
.form-input {
    padding-top: 3px;
    padding: 0px 5px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}
.form-box input ,textarea{
    width: 52vw;
    padding: 0px 6px;
    border-radius: 10px;
    margin: 7px 0;
    border-color: rgb(45, 129, 247);
    font-size: 18px;
    font-family: var(--font1);
    border: 2px solid var(--main-bg-colour);
    border-radius: 5px;
}
    